/*header*/
header {
  text-align: center;
  background-color: black;
  color: white;
  height: 110px;
}
header nav {
  margin: auto;
  width: 100%;
  background-color: burlywood;
  height: 70px;
}
/*main*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: salmon;
  height: 150px;
}
.storeInfo {
  z-index: inherit;
  background-color: coral;
  border-color: black;
  border-width: 22px;
  height: 450px;
  width: 450px;
  padding: 15px;
  size: 50px;
  font: bold;
}
  /* min-height: calc(100vh-211px-58px);*/
}
main li{
  line-height: 100px;
  margin-left: 30px;
}
/* Moved the first image only within the list */
main li:first-child{
  margin-left: 0px;
  }
/*
img {
  float: right;
  padding-right: 500px;
  font-family: 'Piazzolla', serif;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  box-shadow: 10px 10px;
}*/
.column {
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* footer */
footer {
  text-align: center;
  background-color: black;
  color:white;
  height:100px;
  clear:both;
}