body {
  background-color: salmon;
}

img {
  float: right;
  padding-right: 500px;
  font-family: 'Piazzolla', serif;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 15px 15px 15px 15px;
}

td:hover {
  background-color: yellow;
}